@model List<questions.DAL.Comment>
@{
    ViewBag.Title = "Home Page";
}

<h2>Всего комментариев @Model.Count </h2>

<div id="results" class="row">
    @Html.Partial("AddComment")
</div>

@using (Ajax.BeginForm("AddComment", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.Replace }))
{
    <p>Введите свое имя: </p>
    @Html.TextBox("Name")
    <p>Введите текс комментария :</p>
    @Html.TextArea("Message")
    <input type="hidden" value="@DateTime.Now" name="date" />
    <p><input type="submit" value="Отправить" /></p>
}

@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")